<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Utilisateur" %>
</head>

<body>

  <div class="container mt-4">

    <a class="btn btn-dark" href="<%= users_path %>"><i class="fas fa-arrow-left"></i> Back To Users Page</a>
    <h1 class="my-5">Author profile</h1>

    <div class="row">
      <div class="col-md-12 col-lg-10">
        <div class="card border-success mb-3">
          <div class="card-header h5 text-primary"><%= @user.full_name || @user.first_name %></div>
          <div class="card-body">
            <div>Age: <h6 class="card-title d-inline text-success"><%= @user.age %></h6></div>
             <div>Email: <h6 class="card-title d-inline text-success"><%= @user.email %></h6></div>
             <div>City: <h6 class="card-title d-line text-success"><%= @user.city.name unless @user.city.nil? %></h6></div>
             <div>Description: <p class="card-text text-success"><%= @user.description %></p></div>
          </div>
        </div>
      </div>

      <!-- Edit user -->

      <% if is_current_user?(@user) %>
        <div class="col-lg-2 col-md-12">
        <div class="row">
          <div class="d-flex flex-column ml-3">
            <a class="btn btn-success" href="<%= edit_user_path(@user.id)%>"><i class="fas fa-user"></i> Edit Profile
              Info</a>
            <a class="btn btn-danger mt-2" href="<%= edit_user_path(@user.id)%>"><i class="fas fa-cog"></i> Edit
              Credentials</a>
          </div>
        </div>
      </div>
      <% end %>
     

      <!-- End edit user -->

    </div>


    <!-- List gossip -->
    <h3 class="mt-4 mb-4">List gossips of <%= @user.first_name %></h3>
    <% @user.gossips.each do |gossip|%>
    <div class="row my-3">
      <div class="col-md-12">
        <div class="card p-2 border-success">
          <div class="card-body d-flex m-0 p-0">

            <!-- Action Edit Delete -->
            <div class="col-md-1 pt-2">
              <div class="ml-auto d-flex">
            <% if is_current_user?(@user) %>
                <div class="">
                  <%= link_to edit_gossip_path(:id => gossip.id) do %>
                  <i class="fas fa-edit mr-2 fa-lg text-info"></i>
                  <% end %>
                </div>

                <div>
                  <a href="<%= gossip_path(gossip.id) %>" class="btn p-0" data-confirm="Are you sure want to delete it?"
                    data-method="DELETE"><i class="fas fa-trash fa-lg text-danger"></i></a>
                </div>
            <% else %>
                  <div>
                  Id: <strong><%= gossip.id %></strong>
                </div>
            <% end %>
              </div>
            </div>

            <!-- End action Edit Delete -->

            <div class="col-md-11">
              <div class="card-text">
                <%= link_to gossip_path(:id => gossip.id)  do %>
                <span><strong style="color:#000;">Title:</strong></span><span class=''> <%= gossip.title %></span>
                <% end %>

              </div>
              <div class="card-body m-0 px-0  pt-2 pb-0 ">
                <span><strong>Content:</strong></span><span class=""> <%= gossip.content %></span>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <%end%>
  </div>


</body>

</html>