<div class="media mt-2">
  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
  <div class="media-body">
    <h5 class="mt-0"><%= comment.user.full_name || comment.user.first_name %></h5>
   <div class="media-body-comment">
    
      <div class="media-body-comment-text">
         <%= comment.content %>
      </div>
      <% if comment.likes.count > 0%>
            <div class="comment-quantity-like" >
                  <i class="fas fa-thumbs-up"></i> <%= comment.likes.count %>
            </div>
      <% end %>
      
    </div>
    <div class="media-footer d-flex mb-2">
        <div class="media-like mr-4">
          <a href="<%= comment_likes_path(comment)%>" 
          data-method="post" 
          class="btn-like  <%= user_liked_class(comment) %>">Like</a>
        </div>
        <button class="btn-reply ">Reply</button>
    </div>

  </div>
</div>