<!-- Single Comment -->
<div class="media mb-2 col-12">
  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
  <div class="media-body">
    <h5 class="mt-0"><%= gossip_comment.user.full_name || gossip_comment.user.first_name %></h5>
    <div class="media-body-comment">
        <div class="media-body-comment-text">
           <%= gossip_comment.content %>
        </div>
        <% if gossip_comment.likes.count > 0%>
            <div class="comment-quantity-like" >
                  <i class="fas fa-thumbs-up"></i> <%= gossip_comment.likes.count %>
            </div>
        <% end %>
      
    </div>
    <div class="media-footer d-flex">
        <div class="media-like mr-4">
          <a href="" class="btn-like">Like</a>
        </div>
        <button class="btn-reply">Reply</button>
    </div>

    <div class="comment-children">
      <% gossip_comment.comments.each do |comment_children|%>
          <%= render partial: 'comment_children', locals: {comment: comment_children} %>
      <% end %>
    </div>

    <div class="comment-children-form mb-2">
         <%= form_for [Comment.new] do |f| %>
            <div class="form-group">
              <%= f.text_field :content, class: "form-control", placeholder: "Add a Reply" %>
            <%= hidden_field_tag "comment[comment_id]", gossip_comment.id %>
            </div>
            <%= f.submit "Reply" ,class: "btn btn-primary", style: "position: absolute; left: -9999px" %>
        <% end %>

    </div>

  </div>
</div>