   <div class="row mb-3">

      <% @gossips.each do |gossip|%>
        <div class="col-md-6 mb-4">
          <div class="card px-2 py-4 card-gossip">
            <div class="card-heading d-flex">
              <div class="pull-left d-flex author">
                <div class="pull-left mr-2">
                  <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle img-fluid"
                    alt="user profile image" style="height:40px;width:40px">
                </div>
                <div class=" pt-1" style="positon: relative">
                  <a href="<%= user_path(gossip.user.id)%>" class="h5"><%= gossip.user.full_name || gossip.user.first_name %></a>
                 
                  <br><small class="text-muted"
                    style="margin-top:-1px;position:absolute"><sup><%= gossip.created_at %></sup></small>
                </div>
              </div>

               <!-- Edit - Delete -->
               <% if is_current_user?(gossip.user) %>
               <div class="ml-auto d-flex">
                    <div>
                      <%= link_to edit_gossip_path(:id => gossip.id) do %>
                          <i class="fas fa-edit mr-2 fa-lg text-info"></i>
                      <% end %>
                    </div>

                    <div>
                    <a href="<%= gossip_path(gossip.id) %>" 
                    class="btn p-0" 
                    data-confirm="Are you sure want to delete it?" 
                    data-method="DELETE"><i class="fas fa-trash fa-lg text-danger"></i></a>
                    </div>
              </div>
              <% end %>

            </div>

            <div class="card-body ">
              <div class="card-infomation">
                <span class="mb-2">Gossip n° <%= gossip.id.to_s%>: <%= link_to  gossip.title, gossip_path(:id => gossip.id) %><br>
                </span>
                <span class="text-muted"><%= truncate(gossip.content, :length => 200) %></span>
              </div>
              <% @tags = get_tags_by_gossipid(gossip.id) %>
              <div class="card-bar">
                <% @tags.each do |tag|%>
                <a class="card-tag" href="<%= tag.title %>">
                  <%= tag.title %>
                </a>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      <%end%>
      </div>