<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Gossip Detail"%>
</head>

<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-12">
        <h1 class="mt-4"><%= @gossip.title %></h1>
        <p class="lead">by
          <a href="<%= user_path(@gossip.user.id)%>"><%= @gossip.user.full_name || @gossip.user.first_name %></a>
        </p>
        <hr>
        <!-- Date/Time -->
        <p class="text-muted">Posted on <%= get_time_verbose(@gossip.created_at)%></p>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-10">
        <img class="img-fluid rounded" 
        src="https://source.unsplash.com/random?nature/1600x900" alt=""
        style="max-height:400px; width: 100%">

        <section class="gossip-content-section my-5">
          <p class="lead"><%= @gossip.content %></p>
        </section>
      </div>

      <!-- Tags Widget -->
      <% @tags = get_tags_by_gossipid(@gossip.id) %>
      <div class="col-lg-2 card p-0 card-gossip-tag" style="max-height: 400px;">
        <h5 class="card-header ">Tags</h5>
        <div class="card-body">
          <div class="row">
            <div class="btn-bar">
              <% @tags.each do |tag|%>
              <a class="card-tag" href="<%= tag.title %>">
                <%= tag.title %>
              </a>
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <!-- Eng tag widget -->
    </div>



    <hr>
    <div class="gossip-comments d-flex">
      <a class="btn btn-light btn-like <%= user_liked_class(@gossip) %>" 
      href="<%= gossip_likes_path(gossip_id: @gossip.id)%>"
      data-method="post"
      style="float-left"><i class="fas fa-thumbs-up py-3"></i> Like</a>
      <div class="ml-4 p-1 mt-2" style="font-size: 1.4rem"><%= @gossip.likes.size %> <%=(@gossip.likes.count) == 1 ? ' Like' : ' Likes'%></div>
    </div>


    <div class="row">
      <!-- Comments Form -->
      <div class="col-lg-12 card my-4 p-0">
        <h5 class="card-header"><i class="fas fa-comment" style="color: #888;"></i> Leave a comment</h5>
        <div class="card-body">
          <%= form_for [Comment.new] do |f| %>
            <div class="form-group">
              <%= f.text_area :content, class: "form-control", rows:"3", placeholder: "Add a Reply" %>
            <%= hidden_field_tag "comment[gossip_id]", @gossip.id %>
            </div>
            <%= f.submit "Reply" ,class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>


      <!-- Single Comment -->
      <% @gossip_comments.each do |gossip_comment|%>
         <%= render partial: 'comment', locals: {gossip_comment: gossip_comment} %>
      <% end %>

        
       
      </div>
    </div>


  </div>
  <!-- /.container -->
<script>

$(document).ready(function() {
  $(".btn-reply").click(function() {
    let btnReply =  $(this).closest('.media-body').children('.comment-children-form');
    if (btnReply.length){
      btnReply.show();
      btnReply.find("input.form-control").focus();
    } else{
      let btnReplyChildren = $(this).closest('.comment-childrent').parent().children('.comment-children-form');
       btnReplyChildren.show();
      btnReplyChildren.find("input.form-control").focus();
    }
      
  });
});
</script>

</body>

</html>