<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) %> | The Gossips Project</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-2" id="main-nav">
    <div class="container">
      <a class="navbar-brand" href="/">Gossip Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-4">

          <% if logged_in? %>
          <li class="nav-item <%= active_class(gossips_path) %>">
            <%= link_to "Gossips", gossips_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= active_class(users_path) %>">
            <%= link_to "Users", users_path, class: "nav-link" %>
          </li>
          <% end %>

          <li class="nav-item <%= active_class(team_path) %>">
            <%= link_to "Team", team_path, class: "nav-link" %>
          </li>

          <li class="nav-item <%= active_class(contact_path) %>">
            <%= link_to "Contact", contact_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if !logged_in? %>
          <li class="nav-item <%= active_class(login_path) %>">
            <a href="<%= login_path %>" class="nav-link"><i class="fas fa-user"></i> LogIn</a>
          </li>
          <li class="nav-item <%= active_class(signup_path) %>">
            <a href="<%= signup_path %>" class="nav-link"><i class="fas fa-plus"></i> SignUp</a>
          </li>
          <% else %>
          
    <ul class="navbar-nav--cus navbar-right">
      <a class="nav-link--cus">
        <i class="fas fa-bell dropdown-toggle--cus" data-toggle="notification-menu"></i>
        <span class="navbar-badge">15</span>
      </a>
      <ul id="notification-menu" class="dropdown-menu--cus notification-menu">
        <div class="dropdown-menu-header">
          <span>
            Notifications
          </span>
        </div>
        <div class="dropdown-menu-content overlay-scrollbar scrollbar-hover">
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-gift"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-tasks"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-gift"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-tasks"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-gift"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-tasks"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-gift"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-tasks"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-gift"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-tasks"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  15/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-gift"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
          <li class="dropdown-menu-item">
            <a href="#" class="dropdown-menu-link">
              <div>
                <i class="fas fa-tasks"></i>
              </div>
              <span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                <br>
                <span>
                  26/07/2020
                </span>
              </span>
            </a>
          </li>
        </div>
        <div class="dropdown-menu-footer">
          <span>
            View all notifications
          </span>
        </div>
      </ul>

    </ul>


          <li class="nav-item--cus avatar-wrapper">
            <div class="avatar dropdown--cus">
              <img src="<%= asset_path('felix.jpg')%>" alt="User avatar" class="dropdown-toggle--cus" data-toggle="user-menu">
              <ul id="user-menu" class="dropdown-menu--cus">
                <li class="dropdown-menu-item">
                  <a class="dropdown-menu-link" href="<%= user_path(current_user.id)%>">
                    <div>
                      <i class="fas fa-user-tie"></i>
                    </div>
                    <span><%= current_user.first_name || current_user.username %> Profile</span>
                  </a>
                </li>
                <li class="dropdown-menu-item">
                  <a href="<%= user_path(current_user.id)%>" class="dropdown-menu-link">
                    <div>
                      <i class="fas fa-cog"></i>
                    </div>
                    <span>Settings</span>
                  </a>
                </li>
                <li class="dropdown-menu-item">
                  <a href="<%= logout_path %>" data-method="delete" class="dropdown-menu-link">
                    <div>
                      <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>


          <% end %>

        </ul>

      </div>
    </div>
  </nav>


  <!-- Main content of body -->
  <div class="" style="margin-top:100px; margin-bottom:60px; ">

    <section id="alert-section">
      <% flash.each do |key, value| %>
      <div class="alert-dismissible text-center p-2 container <%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value unless value.blank? %>
      </div>
      <% end %>
    </section>

    <%= yield %>
  </div>

  <!-- FOOTER -->
  <footer id="main-footer" class="text-center pt-3 pb-0 mb-0 bg-light bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy;
            <span id="year"></span> The Best Team</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Script -->
  <script>
    $('#year').text(new Date().getFullYear());
    $(".alert").fadeOut(3000);
  </script>

</body>

</html>